@import "../node_modules/bulma/bulma";
@import "theme";


html, body, #root{
  height: 100%;
}

body {
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

#root {
  display: flex;
}

#drawer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 256px;
  max-width: 256px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  overflow: auto;

  .label {
    font-weight: 500;
  }
}

.drawer__header {
  flex-shrink: 0;
  box-sizing: border-box;
  min-height: 64px;
  padding: 0 16px 16px;
}

.drawer__title {
  font-size: 1.125rem;
  font-weight: 500;
  display: block;
  margin-top: 0;
  margin-bottom: -20px;

  &::before {
    display: inline-block;
    width: 0;
    height: 36px;
    content: "";
    vertical-align: 0;
  }

  &::after {
    display: inline-block;
    width: 0;
    height: 20px;
    content: "";
    vertical-align: -20px;
  }
}

.drawer__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  display: block;
  margin-top: 0;
  line-height: normal;
  margin-bottom: 0;

  &::before {
    display: inline-block;
    width: 0;
    height: 20px;
    content: "";
    vertical-align: 0;
  }
}

.drawer__content {
  margin: 0 16px;
}

#sidebar {
  position: relative;
  flex: 0 1 auto;
  width: 300px;
  margin: 20px;
  overflow: auto;
}

#previous-tree, #next-tree {
  width: 50%;
}

#reset-zoom {
  position: absolute;
  bottom: 0;
  right: 0;
}

#download-forest {
  position: absolute;
  bottom: 10px;
  right: 4px;
}

#download-tree {
  position: absolute;
  bottom: 24px;
  right: 24px;
}


#content {
  flex: 20 1 auto;
  min-width: 700px;
  margin: 20px 20px 20px 0;
}

#forest {
  background: #ebf7f1;
  position: relative;

  circle:hover {
    cursor: pointer;
  }

  circle.active {
    fill: cornflowerblue;
  }
}

#tree {
  background-color: aliceblue;
  width: 100%;
  height: 100%;

  line:hover {
    cursor: pointer;
  }
}

#forest-view, #tree-view {
  position: relative;
}

.space {
  height: 20px;
}

table {
  font-size: 0.875rem;
}
