@import "../node_modules/bulma/bulma";

body {
  padding: 20px 0;
  height: 100vh;
  background: #eee;
}

.columns.box {
  height: calc(100vh - 20px);
}

h1.title {
  font-size: 19px;
}

svg#forest {
  background: darkseagreen;
}

svg line:hover {
  cursor: pointer;
}