@import "../node_modules/bulma/bulma";

html {
  overflow: hidden;
}

body {
  padding: 20px 0;
  background: darkseagreen;
  height: 100vh;
  min-height: 100vh;
  overflow: visible;
  overflow-y: auto;
}

#main {
  width: 1344px;
  margin: 0 auto;
  min-height: calc(100vh - 20px);
}

#info {
  min-height: 250px;
}

h1.title {
  font-size: 19px;
}

svg#forest {
  background: #ebf7f1;
  border: 1px solid #aaa;
}

svg line:hover {
  cursor: pointer;
}

span#forest-progress {
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
}