#content {
  flex: 20 1 auto;
  min-width: 700px;
  margin: 20px 20px 20px 0;
}

.space {
  height: 20px;
}

table {
  font-size: 0.875rem;
}

.leaf-info {
  display: flex;
}

.leaf-info__left {
  flex: 1 1 auto;
  margin-right: 3px;
}

.leaf-info__right {
  flex: 0 0 auto;
}

.leaf-info__table tr td:last-child {
  width: 60%;
  text-align: right;
}

.class-distribution-table tr td:first-child {
  width: 50px;
}
.class-distribution-table tr td:last-child {
  text-align: right;
}

.class-distribution-table__color-patch {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  border-radius: 10%;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 40vh auto;
}

.spinner-text {
  position: absolute;
  left: -50px;
  bottom: -50px;
  width: 150px;
  text-align: center;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}