@import "../node_modules/bulma/bulma";
@import "../node_modules/bulmaswatch/cosmo/_variables.scss";
@import "../node_modules/bulmaswatch/cosmo/_overrides.scss";

html, body, .App {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 0.1px;
}

.App {
  display: flex;
}
